# TF-IDF Example

Example TF-IDF for 2 small corpuses of example text, one for DDMR and another for Jumpshot.

In [15]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

DDMR = 'youtube youtube videos livestream on youtube live'
Jumpshot = 'youtube youtube creators online videos watch live livestreaming minecraft videos'

vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([DDMR, Jumpshot])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df.head()

,creators,live,livestream,livestreaming,minecraft,on,online,videos,watch,youtube
0,0.000000,0.258625,0.363488,0.000000,0.000000,0.363488,0.000000,0.258625,0.000000,0.775874
1,0.323487,0.230164,0.000000,0.323487,0.323487,0.000000,0.323487,0.460328,0.323487,0.460328